body{
  font-size: 18px;
  font-style: tahoma;
  color: rebeccapurple;
  background-color: mediumpurple;
  text-align: center;
  line-height: 1.5;
}

img{
  width: 400px;
}

table{
  align-content: center;
}

.title{
  color: rgb(157, 4, 4);
}

.foot{
  font-size: 12px;
}