                                /*GENERAL STUFF*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Raleway:wght@700&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  max-width: 1980;
  max-height: 1080;
}
/*/////////////////////////////////END////////////////////////////////////////*/

                                /*css For Index page*/
.index_container{
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 1fr repeat(2,2fr) 1fr;
  grid-gap: 10px;
}
.index-img{
  width: 60vh;
  height: 60vh;
}

.index_box1{
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
}

.index_box2{
  grid-row: 2;
  grid-column: 3;
  justify-self: start;
}

.index_box3{
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end:4;
  justify-self:center;
}
.index_box3 img{
  width: 100px;
}

#dod{
  border-radius: 250px 0px 0px 0px;
}
#yatch{
  border-radius: 0px 0px 250px 0px;
}

/*ANIMATIONS*/
#dod:hover{
  width: 60.5vh;
  height: 60.5vh;
  margin-left: 1%;
  transition:0.2s;
}

#yatch:hover{
  width: 61vh;
  height: 61vh;
  margin-left: 1%;
  transition:0.2s;
}
/*/////////////////////////////////END////////////////////////////////////////*/

                                /*CSS Common ITEMS*/

/*MENU*/
.menu_container{
  display: grid;
  grid-template-columns: 1fr 2fr  auto auto auto auto 2rem;
}
.menu_logo{
  grid-column: 1;
  justify-self:left;
} 
.menu_logo img{ 
  width: 60px;
  height: auto;
  margin: 0.4rem 0px 5px 2rem;
  padding: 0;
}
.menu_box0{
  grid-column: 3;
  align-self: center;
  border-right: 1px solid white;
}
.menu_box1{
  grid-column: 4;
  align-self: center;
  border-right: 1px solid white;
}
.menu_box2{
  grid-column: 5;
  align-self: center;
  border-right: 1px solid white;
}
.menu_box3{
  grid-column: 6;
  align-self: center;
}

.menu_container a{
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

/*ANIMATIONS*/
.menu_hover_blue a:hover{
  background: #3c4c69;
  transition: 0.4s;
}

.menu_hover_orange a:hover{
  background: #bb9f7f;
  transition: 0.4s;
}


/*/////////////////////////////////END////////////////////////////////////////*/


                                /*css for navy page*/

.navy{
  background-image: url(../assets/images/background\ navy.jpg);
  background-size: fill;
}

.navy h2{
  font-size: 45px;
  text-decoration: underline;
  text-underline-position: 0;
  color: #2085ce; 
}

#business-unit table{
  border: 10px solid;
  border-radius: 20px;
  border-color:#2085ce;
  width: 30%;
}

#business-unit table td{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

#business-unit img{
  width: 80px;
}

.circle-mini{
  width: 300px;
  height: auto;
}

.navy_container{
  display: grid;
  grid-template-rows:repeat(5,auto);
  grid-template-columns:repeat(9,1fr);
  gap: 4vh;
}

.navy_container p{
  max-width: 80%;
  font-size: 21px;
  font-weight: 700;   
  display: block;
  text-align: center;
}

.navy_box1{
grid-row: 1;
grid-column:1/10;
width: auto;
height: auto;
overflow: hidden;
max-height: 58vh;
border: solid #E87521;
}

.navy_box1 img{
  width: 100%;
}

.navy_box2{
  grid-row: 2;
  grid-column: 2/5;
  border: solid #E87521;
  border-radius: 50%;
  overflow: hidden;
  width: 58vh;
  height: 58vh;
  
}

.navy_box3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-row: 2;
  grid-column: 5/9;
  border: solid #E87521;
}

.navy_box4{
  display: flex;
  flex-direction: column;
  grid-row: 3;
  grid-column: 2/9;
  border: solid #E87521;
  justify-content: space-between;
}

.navy_box5{
  grid-row: 4;
  grid-column: 2/9;
  border: solid #E87521;
}

.navy_footer_box6{
  grid-row: 5;
  grid-column: 2/9;
  border: solid #E87521;
  background-color: #161C27;
}

/*/////////////////////////////////END////////////////////////////////////////*/


                                /*CSS for yatch page*/


#promo{
  margin-top: auto;
  margin-right: auto;
  padding-bottom: 200px;
  background-image: url(../assets/images/yatch.jpg);
  background-size: cover;
}

#promo_font_big{
  font-size: 70px;
  font-weight: 700;
  padding:20px 0px 30px 0px;
}

#promo_counter{
  margin: 50px 0px 35px 0px;
  background-color: #E87521;
  padding: 5px 10px 10px 20px;
  border-radius: 0px 30px 30px 0px;  
  width: 400px;
}

.promo_number{
font-size: 39px;
padding: 0px 20px 0px 20px;
}

.square-option{
  border-style: solid;
  border-color: white;
  padding: 15px;
  align-items: center;
  background-color: #2165E8;
}

.form-submit{
  background-color: #2165E8;
  padding: 7px;
}

.circle{
  padding: 1px;
  font-size: 50px;
  border-radius: 15%;
}

.font_mid{
  font-size: 21px;
  font-weight: 700;
}

.square-option:hover{
  background-color: #00cda7;
}

/*/////////////////////////////////END////////////////////////////////////////*/


                                /*COLORS*/
.background-orange{
  background-color: #E87521;
  color: white;
}

.orange{
  color:#E87521;
}

.dark_blue{
  background-color: #161C27;
}

.white{
  color: white;
}
.dark_green{
  color: #3f463d;
}

.clear_orange{
  background-color: #F4E0C9 ;
}

.blue-low{
  background-color: #00cda7;
}


/*/////////////////////////////////END////////////////////////////////////////*/

/*TESTING*/

.yatch_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #acd1ca;
  
  
}


#promo{
  margin-top: auto;
  margin-right: auto;
  padding-bottom: 200px;
  background-image: url(../assets/images/yatch.jpg);
  background-size: cover;
}

#promo_font_big{
  font-size: 70px;
  font-weight: 700;
  padding:20px 0px 30px 0px;
}

#promo_counter{
  margin: 50px 0px 35px 0px;
  background-color: #E87521;
  padding: 5px 10px 10px 20px;
  border-radius: 0px 30px 30px 0px;  
  width: 400px;
}

.promo_number{
font-size: 39px;
padding: 0px 20px 0px 20px;
}

.square-option{
  border-style: solid;
  border-color: white;
  padding: 15px;
  align-items: center;
  background-color: #2165E8;
}

.form-submit{
  background-color: #2165E8;
  padding: 7px;
}

.circle{
  padding: 1px;
  font-size: 50px;
  border-radius: 15%;
}

.font_mid{
  font-size: 21px;
  font-weight: 700;
}

.square-option:hover{
  background-color: #00cda7;
}