/*/////////////////////////////////GENERAL STUFF////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&family=Raleway:wght@700&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  max-width: 1980;
  max-height: 1080;
}
/*/////////////////////////////////END////////////////////////////////////////*/

/*/////////////////////////////////INDEX////////////////////////////////////////*/
.index_container{
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 1fr repeat(2,2fr) 1fr;
  grid-gap: 10px;
}
.index-img{
  width: 60vh;
  height: 60vh;
}

.index_box1{
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
}

.index_box2{
  grid-row: 2;
  grid-column: 3;
  justify-self: start;
}

.index_box3{
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end:4;
  justify-self:center;
}
.index_box3 img{
  width: 100px;
}

#dod{
  border-radius: 250px 0px 0px 0px;
}
#yatch{
  border-radius: 0px 0px 250px 0px;
}

/*ANIMATIONS*/
#dod:hover{
  width: 60.5vh;
  height: 60.5vh;
  margin-left: 1%;
  transition:0.2s;
}

#yatch:hover{
  width: 61vh;
  height: 61vh;
  margin-left: 1%;
  transition:0.2s;
}
/*/////////////////////////////////END////////////////////////////////////////*/

/*/////////////////////////////////COMMON ITEMS////////////////////////////////////////*/

/*MENU*/
.menu_container{
  display: grid;
  grid-template-columns: 1fr 2fr  auto auto auto auto 2rem;
}
.menu_logo{
  grid-column: 1;
  justify-self:left;
} 
.menu_logo img{ 
  width: 60px;
  height: auto;
  margin: 0.4rem 0px 5px 2rem;
  padding: 0;
}
.menu_box0{
  grid-column: 3;
  align-self: center;
  border-right: 1px solid white;
}
.menu_box1{
  grid-column: 4;
  align-self: center;
  border-right: 1px solid white;
}
.menu_box2{
  grid-column: 5;
  align-self: center;
  border-right: 1px solid white;
}
.menu_box3{
  grid-column: 6;
  align-self: center;
}

.menu_container a{
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

/*ANIMATIONS*/
.menu_hover_blue a:hover{
  background: #3c4c69;
  transition: 0.4s;
}

.menu_hover_orange a:hover{
  background: #bb9f7f;
  transition: 0.4s;
}


/*/////////////////////////////////END////////////////////////////////////////*/


/*/////////////////////////////////NAVY////////////////////////////////////////*/
/* grid.layoutit.com?id=BJG9bSy */

.navy_bg{
  background-image: url('../assets/images/background\ navy.jpg');
  background-size: fill;
}

.navy_container {  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr 2.6fr 1fr 1%;
  grid-template-rows: 1fr 1fr 1fr 1fr 8%;
  gap: 5% 1%;
  grid-template-areas:
    "nb1 nb1 nb1 nb1 nb1 nb1 nb1 nb1 nb1 nb1 nb1 nb1"
    ". nb2 nb2 nb2 nb2 nb2 nb2 nb2 nb2 nb2 nb2 ."
    ". nb3 nb3 nb3 nb3 nb3 nb3 nb3 nb3 nb3 nb3 ."
    ". nb4 nb4 nb4 nb4 nb4 nb4 nb4 nb4 nb4 nb4 ."
    "nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot nb_foot";
}

.navy_container h2{
  font-size: 30px;
  text-decoration: underline;
  text-underline-position: 0;
  color: #2085ce; 
  text-align: center;
}

.navy_container p{
  font-size: 16px;
  font-weight: 700;   
  display: block;
  text-align: center;
}

.nb1 { 
  grid-area: nb1; 
  max-height: 552px;
}

.nb1 img{
  width: 100%;
  height: auto;
}

.nb2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nb2_1 nb2_2 nb2_2"
    "nb2_1 nb2_3 nb2_3"
    "nb2_1 nb2_4 nb2_4";
  grid-area: nb2;
}
.nb2 img{
  width: auto;
  height: 100%;
}

.nb2_1 { 
  grid-area: nb2_1;
  border-radius: 50%;
  overflow: hidden;
  height: 58vh;
  width: 58vh;
  align-self: center;
}

.nb2_2 { grid-area: nb2_2; }

.nb2_3 { grid-area: nb2_3;padding-left: 10%; }

.nb2_4 { grid-area: nb2_4;padding-left: 10%; }

.nb3 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 2% 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nb3_1 nb3_1 nb3_1"
    "nb3_2 nb3_2 nb3_2"
    "nb3_3 nb3_3 nb3_3";
  grid-area: nb3;
  max-height: 552px;
}

.nb3 img{
  width: 100%;
  height: auto;
}

.nb3_1 { grid-area: nb3_1; }

.nb3_2 { grid-area: nb3_2;overflow: hidden;}

.nb3_3 { grid-area: nb3_3; align-self: center;}

.nb4 {  display: grid;
  grid-area: nb4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1.5fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  
  grid-template-areas:
    "nb4_1 nb4_1 nb4_2"
    "nb4_1 nb4_1 nb4_2"
    "nb4_1 nb4_1 nb4_2";
  max-height: 552px;
}

.nb4_1 { grid-area: nb4_1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nb4_1 img{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    overflow: hidden;
  }


.nb4_2 { 
  grid-area: nb4_2;
  border-radius: 50%;
  height: 58vh;
  width: 58vh;
  overflow: hidden;
}

.nb4_2 img{
  width: auto;
  height:100%;  
}

.nb_foot {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nb_foot1 nb_foot2 nb_foot3"
    "nb_foot1 nb_foot2 nb_foot3"
    "nb_foot1 nb_foot2 nb_foot4"
    "nb_foot5 nb_foot5 nb_foot5";
  grid-area: nb_foot;
}

.nb_foot1 { grid-area: nb_foot1; }

.nb_foot2 { grid-area: nb_foot2;}

.nb_foot3 { grid-area: nb_foot3;}

.nb_foot4 { grid-area: nb_foot4;}

.nb_foot5 { 
  grid-area: nb_foot5; 
  background-color: #161C27;
}

#business-unit table{
  border: 10px solid;
  border-radius: 20px;
    border-color:#2085ce;
  width: 30%;
}

#business-unit table td{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

#business-unit img{
  width: 80px;
}


/*/////////////////////////////////END////////////////////////////////////////*/


/*/////////////////////////////////YATCH////////////////////////////////////////*/
.yatch_container{
  display: grid;
  grid-template-areas:
  'yb1  yb1 yb1 yb1'
  'yb2 yb2 yb2 yb2'
  '.  yb3 yb3 .'
  '.  yb4 yb4 .';
  border: solid #cd0000;
  background-image: url('../assets/images/background\ yatch.jpg');
  color: #ffff ;
  text-align: center;
  gap: 10rem;
}

.yb1{
grid-area:yb1;
width: auto;
height: auto;
overflow: hidden;
max-height: 56vh;
border: solid #E87521;
}

.yb1 img{
  width: 100%;
}

.yb2{
  grid-area:yb2;
  border: solid #fff;
  display: grid;
  grid-template-areas:
  'yb2_1  yb2_1  yb2_1'
  'yb2_2  yb2_2  yb2_2'
  'yb2_3 yb2_4  yb2_5';
    width: auto;
  height: auto;
overflow: hidden;

}

.yb2 img{
  height: 100%;
}

.yb2_1,.yb2_2,.yb2_3,.yb2_4,.yb2_5{
  border: solid #fff;
}

.yb2_1{grid-area: yb2_1;}
.yb2_2{grid-area: yb2_2;}
.yb2_3{grid-area: yb2_3;}
.yb2_4{grid-area: yb2_4;}
.yb2_5{grid-area: yb2_5;}

.yb2_3,.yb2_4,.yb2_5{
  max-width: 400px;
  max-height: 400px;
  overflow: hidden;
}


.yb3{
  grid-area:yb3;
  border: solid #00cda7;
}

/*/////////////////////////////////END////////////////////////////////////////*/


/*/////////////////////////////////COLORS////////////////////////////////////////*/
.background-orange{
  background-color: #E87521;
  color: white;
}

.orange{
  color:#E87521;
}

.dark_blue{
  background-color: #161C27;
}

.white{
  color: white;
}
.dark_green{
  color: #3f463d;
}

.clear_orange{
  background-color: #F4E0C9 ;
}

.blue-low{
  background-color: #00cda7;
}


/*/////////////////////////////////END////////////////////////////////////////*/

/*/////////////////////////////////ABOUT////////////////////////////////////////*/
.abo_container {  display: grid;
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: repeat(2, 2fr) 1fr;
  gap: 1% 4%;
  grid-auto-flow: row;
  grid-template-areas:
    ". abo1 ."
    ". abo2 ."
    ". abo3 .";
}

.abo1 {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "abo1_1 abo1_1 abo1_1"
    "abo1_2 abo1_2 abo1_2"
    "abo1_2 abo1_2 abo1_2";
  grid-area: abo1;
}

.abo1_1 { grid-area: abo1_1; }

.abo1_2 { grid-area: abo1_2;display:flex; }

.abo2 {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "abo2_1 abo2_1 abo2_1"
    "abo2_2 abo2_2 abo2_2"
    "abo2_2 abo2_2 abo2_2";
  grid-area: abo2;
}

.abo2_1 { grid-area: abo2_1;display: flex;justify-content: center; }

.abo2_2 { grid-area: abo2_2;display: flex; }

.abo3 { grid-area: abo3; }

/*/////////////////////////////////END////////////////////////////////////////*/

/*/////////////////////////////////SERVICES////////////////////////////////////////*/
.our_container {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 0px 0px; 
  grid-template-areas: 
    "our1 our1"
    "our2 our2"
    "our2 our2"
    "our2 our2"; 
}
.our1 { grid-area: our1; }

.our2{grid-area: our2; display: flex;}

