@use 'variables';

.navbar-brand{

  & img{
    width: 4.4vh;
    height: auto; 
  }
}

.navy{
  background-color: antiquewhite;
  font-size: 1.2rem;

  .video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vh;
    
    & iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);
    }
  }
  
  .container{
    padding-top: 2vw;
    padding-bottom: 2vw;

    #img-circle{
      border-radius: 50%;
      width: 100%;
      height: auto;
    }

    .business-unit{
      display: flex;
      justify-content: space-around;
      padding-left: 4vw;
      padding-right: 4vw;
      align-items: flex-end;
    
        & figure{
          text-align: center;

        
        & img{
          width: 100px;
          height: auto;
        }
      
        & p{
          padding-top: 10px;
          font-size: 2vh;
          text-align: justify;
          font-size: 1.2rem;
          font-weight: bolder;
        }
      }
    }
    .card{
      padding: 0;
      margin: 0;

      img{
        padding: 0;
        margin: 0;
      }
      .card-body{
        background-color: white;
      }
      .card-text{
        background-color: white;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
  // START
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
    line-height: 1.618em;
  }
  .wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
  .tabs {
    position: relative;
    margin: 3rem 0;
    background: #1abc9c;
    height: 14.75rem;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }
  // END
  @media (min-aspect-ratio: 16/9) {
    .video-background iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .video-background iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }
}

/*______ NAVY ______*/



/* END */



