<div>
  {{#if cart.length}}
    {{#each cart}}
      <div>
        <h2>CART</h2>
        <p></p>
        <h2>${{this.price}}</h2>
      </div>
    {{/each}}
      <div>
        <h2>Pages</h2>
      </div>
  {{else}}
    <h2>Product not found</h2>
  {{/if}} 
</div>

<script src="/socket.io/socket.io.js"></script>