<img src="https://media3.giphy.com/media/4N3Mqhl8JRyYLapZgt/source.gif" alt="" srcset="">
<div>
  <a href="/api/users/login"><button>LOGIN</button></a>
  <a href="/api/users/register"><button>REGISTER</button></a>
  <a href="/api/products"><button>PRODUCTS</button></a>
</div>
