<a href="/"><button>HOME</button></a>
<h1>Logueate!</h1>
<div>
  <form action="" id="loginForm">
    <label for="email">Email:
      <input type="text" name="email" id="email" placeholder="email"><br>
    </label>
    <label for="password">Password:
      <input type="password" name="password" id="password" placeholder="Password"><br>
    </label>
      <input type="submit">
  </form>
  <p>Ya estas registrado?<a href="/api/users/register"><button>Registrate!</button></a></p>
</div>

<script src="/js/login.js"></script>

{{! Path: src\js\login.js }}