<a href="/"><button>HOME</button></a>
<h1>Logueate!</h1>
<div>
  <form action="" id="loginForm">
    <label for="email">Email:
      <input type="text" name="email" id="email" placeholder="email"><br>
    </label>
    <label for="password">Password:
      <input type="password" name="password" id="password" placeholder="Password"><br>
    </label>
      <input type="submit" value="ingresa">
  </form>
  <a href="/recover"><button>Olvidaste tu contraseña?</button></a>
  <p>Ya estas registrado?<a href="/register"><button>Registrate!</button></a></p>
</div>
<div>
  <a href="/auth/github"><button>Conectar con GITHUB</button></a>
</div>
<script src="/js/signIn.js"></script>
