<div>
{{#each product}}
  <div>
    <h2>{{this.title}}</h2>
    {{#each this.thumbnails}}
      <img src={{this}} alt="productItem">
    {{/each}}
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
  </div>
{{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
