<a href="/"><button>HOME</button></a>
<h1>Cambia tu contraseña!</h1>
<div>
  <form action="" id="recoverForm">
    <label for="email">Email:
      <input type="text" name="email" id="email" placeholder="email"><br>
    </label>
    <label for="password">Password:
      <input type="password" id="password"><br>
    </label>
    <label for="validatePassword">Validar Password:
      <input type="password" id="validatePassword"><br>
    </label>
      <input type="submit" value="cambiar contraseña">
  </form>
  <p>Ya estas registrado?<a href="/register"><button>Registrate!</button></a></p>
</div>

<script src="/js/recover.js"></script>