<a href="/"><button>HOME</button></a>
<h1>Registrate</h1>
<div>
  <form action="" id="registerForm">
    <input type="text" name="first_name" placeholder="Nombre" required/>
    <br>
    <input type="text" name="last_name" placeholder="Apellido" required/>
    <br>
    <input type="email" name="email" placeholder="Email" required/>
    <br>
    <input type="password" name="password" placeholder="Contraseña" required/>
    <br>
    <input type="submit"/>
  </form>
</div>
<p>Ya estas registrado? <a href="/login"><button>Logueate!</button></a></p>

<script src="/js/signUp.js"></script>