<h1>Registrate</h1>
<form>
  <input type="text" name="username" placeholder="Usuario" />
  <br>
  <input type="password" name="password" placeholder="Contraseña" />
  <br>
  <input type="email" name="email" placeholder="Email" />
  <br>
  <input type="button" value="Registrarse" id="register" />
  <p>Ya estas registrado? <a href="http://localhost:8080/login">Logueate!</a></p>